@import "./style.scss";
@import "./successReg.scss";

.password-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("/imgs/success-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  text-align: center;
}

.password-links-container {
  width: 30%;

  & h2 {
    font-size: 4em;
    font-family: var(--ff-accent);
    color: var(--clr-accent);
    margin-bottom: 0.5em;
    -webkit-filter: drop-shadow(3px 3px 3px #131313);
  filter: drop-shadow(3px 3px 3px #131313);
  }

  & .register-form-container {
    border: none;
    border-radius: 8px;
  }

}

@media screen and (min-width: 980px) and (max-width: 1366px) {
  .password-links-container {
    width: 40%;

    & h2 {
      font-size: 5em;
    }

  }
}

@media screen and (min-width: 769px) and (max-width: 979px) {
  .password-links-container {
    width: 55%;

    & h2 {
      font-size: 4.5em;
    }

  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .password-links-container {
    width: 65%;

    & h2 {
      font-size: 4em;
    }
  }

}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .password-links-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;

    & h2 {
      font-size: 4em;
    }
}

}
